In [5]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

In [6]:
import os
import pandas as pd

In [7]:
data_train = []
for dirs in sorted(os.listdir('data/train')):
    for file in sorted(os.listdir('data/train/' + dirs)):
        data_train.append((dirs, file))

df_train = pd.DataFrame(data_train, columns=['label', 'filenames'])

In [11]:
df_train.head()

   label         filenames
0  AKIEC  ISIC_0024329.jpg
1  AKIEC  ISIC_0024372.jpg
2  AKIEC  ISIC_0024418.jpg
3  AKIEC  ISIC_0024450.jpg
4  AKIEC  ISIC_0024463.jpg

In [16]:
df_train.count()

label        27827
filenames    27827
dtype: int64

In [13]:
data_validation = []
for dirs in sorted(os.listdir('data/validation')):
    for file in sorted(os.listdir('data/validation/' + dirs)):
        data_validation.append((dirs, file))

df_validation = pd.DataFrame(data_validation, columns=['label', 'filenames'])

In [14]:
df_validation.head()

   label         filenames
0  AKIEC  ISIC_0024771.jpg
1  AKIEC  ISIC_0024948.jpg
2  AKIEC  ISIC_0025029.jpg
3  AKIEC  ISIC_0025358.jpg
4  AKIEC  ISIC_0025427.jpg

In [15]:
df_validation.count()

label        11233
filenames    11233
dtype: int64

In [17]:
df = pd.concat([df_train, df_validation], ignore_index=True)

In [18]:
df.count()

label        39060
filenames    39060
dtype: int64